  html{
    background-color: #4c5863;
  }
  
  .container {
    padding: 0.5rem;
  }
  
  .header {
    background-color: #ededed;
    padding: 1.2rem;
  }
  
  .logo__title {
    margin-bottom: 0.5rem;
  }
  
  .task {
    margin: 1.5rem 0 0 0;
  }
  
  .task,
  .task__button.button,
  .task__name-edit {
    font-size: 0.8rem;
  }
  
  .task__content {
    padding: 0.5rem;
    border: solid 1px #ededed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .tasks .task{

    box-shadow: 2px 4px 8px rgb(46, 46, 46) ;
    background-color: #fff8d9;
  }
  
  .task__name {
    font-weight: 400;
    width: 35%;
  }
  
  .task__name-edit {
    display: none;
  }
  
  .task__buttons {
    margin-left: 1rem;
  }
  
  .progress-bar {
    height: 0.4rem;
    background-color: #ededed;    
  }
  
  .progress-bar__level {
    height: 0.4rem;
    background-color: #dc326b;    
  }

  .task--todo .task__button--incomplete {
    display: none;
  }
  
  .task--complete .task__name-display {
    text-decoration: line-through;
  }
  
  .task--complete .task__button--validate {
    display: none;
  }
  
  .task--edit .task__name-display {
    display: none;
  }
  
  .task--edit .task__name-edit {
    display: block;
    width: 90%;
  }
  
  .task--complete .task__content {
    background-color: #f7f7f7;
    border: none;
  }
  
  .task--complete .task__name {
    color: hsl(0, 0%, 69%);
  }

  
  .task--add .task__content {
    border-color: #78b6df;
    background-color: #cde7f1;
  }
  
  .task--add .task__name {
    width: 100%;
  }
  
  .task--add .task__name-edit {
    display: block;
    width: 90%;
  }
  
  .task--add .task__buttons {
    margin: 0.5rem 0 0 0;
  }
  
  .task--add .task__button {
    font-size: 1rem;
  }
  
  @media screen and (min-width: 640px) {
    .container {
      padding: 1rem;
    }
  
    .task,
    .task__button.button,
    .task__name-edit {
      font-size: 0.9rem;
    }
  
    .task__content {
      padding: 1rem;
    }
  
    .task__name {
      font-size: 1rem;
    }
  
    .task--add .task__name {
      width: 50%;
    }
  
    .task--add .task__buttons {
      width: 20%;
      text-align: right;
      margin: 0;
    }
  }
  
  @media screen and (min-width: 800px) {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .logo__title {
      margin-bottom: 0;
    }
        
    .task,
    .task__button.button,
    .task__name-edit.input {
      font-size: 1rem;
    }
  
    .task__name {
      width: 50%;
    }
  
    .task__name-edit {
      width: 60%;
    }
  }